#output{
   font-size:90px;
   display: table-cell;
   vertical-align: middle;
   color:#fff;
   font-family:'Bebas Neue',sans-serif;
   font-weight:800;
   margin-left:auto;
   margin-right:auto;
}
body{
   padding-left:125px;
   display: table;
   height:87vh;
   background-color:#020202;
}
.active{
   color:white;
}
.ended{
   color:red;
}
label{
   font-size:32px;
}